streamlit
openai
sentence-transformers
fuzzywuzzy[speedup]
python-dotenv
numpy<2
scikit-learn
joblib
streamlit-webrtc
webrtcvad-wheels
pydub
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu